<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Twilio_SID" value="AC61b76d7cf5033d39d3fdf1a6816e3e61"/>
    <add key="Twilio_Auth" value="1f4545334cf64e12d68a224de622178c"/>
    <add key="Twilio_Phone" value="+16176740897"/>
    <add key="Brooklyn_Phone" value="+19492593445"/>
  </appSettings>
</configuration>